<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <servlet>
 <description></description>
 <display-name>ProcessStep1Servlet</display-name>
 <servlet-name>ProcessStep1Servlet</servlet-name>
 <servlet-class>shopping.ProcessStep1Servlet</servlet-class>
 </servlet>
  <servlet-mapping>
    <servlet-name>ProcessStep1Servlet</servlet-name>
    <url-pattern>/processStep1</url-pattern>
  </servlet-mapping>
   <servlet>
 <description></description>
 <display-name>ProcessStep2Servlet</display-name>
 <servlet-name>ProcessStep2Servlet</servlet-name>
 <servlet-class>shopping.ProcessStep2Servlet</servlet-class>
 </servlet>
  <servlet-mapping>
    <servlet-name>ProcessStep2Servlet</servlet-name>
    <url-pattern>/processStep2</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>TokenServlet</display-name>
    <servlet-name>TokenServlet</servlet-name>
    <servlet-class>Token.TokenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TokenServlet</servlet-name>
    <url-pattern>/tokenServlet</url-pattern>
  </servlet-mapping>
      <servlet>
    <description></description>
    <display-name>TokenServlet1</display-name>
    <servlet-name>TokenServlet1</servlet-name>
    <servlet-class>HandToken.TokenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TokenServlet1</servlet-name>
    <url-pattern>/tokenServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>CheckCodeServlet</display-name>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>identifyingCode.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/checkCodeServlet</url-pattern>
  </servlet-mapping>
      <servlet>
    <description></description>
    <display-name>ValidateColorServlet</display-name>
    <servlet-name>ValidateColorServlet</servlet-name>
    <servlet-class>identifyingCode.ValidateColorServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Servlet.RegisterServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>ValidateColorServlet</servlet-name>
    <url-pattern>/validateColorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <session-config>
  <session-timeout>10</session-timeout>
  </session-config>
</web-app>